<aside class="flex flex-col gap-5 bg-[#CC2A2A] h-full pt-10 w-56 fixed">
    <div class="flex items-center w-full gap-2 pl-7 py-2 hover:bg-[#CC2A2A]/60 cursor-pointer">
        <img src="/home.svg">
        <div class="text-nowrap text-white border-l pl-2">Dashboard</div>
    </div>

    <div class="flex items-center w-full gap-2 pl-7 py-2 hover:bg-[#CC2A2A]/60 cursor-pointer">
        <img src="/seta-direita.svg">
        <div class="text-nowrap text-white border-l pl-2">Liberar entrada</div>
    </div>

    <div class="flex items-center w-full gap-2 pl-7 py-2 hover:bg-[#CC2A2A]/60 cursor-pointer">
        <img src="/seta-esquerda.svg">
        <div class="text-nowrap text-white border-l pl-2">Liberar saída</div>
    </div>

    <div class="flex items-center w-full gap-2 pl-7 py-2 hover:bg-[#CC2A2A]/60 cursor-pointer">
        <img src="/adicionar-veiculo.svg">
        <div class="text-nowrap text-white border-l pl-2">Adicionar veículo</div>
    </div>
</aside>