<div class="flex flex-col items-center bg-gray-50 min-h-screen p-4">
    <div class="w-204 mb-4 relative">
        <app-search-bar containerClass="w-full h-12" placeholder="Buscar por placa ou proprietário..." (aoPesquisar)="filtrar($event)">
        </app-search-bar>

    
        @if (resultados().length > 0) {
        <div
            class="absolute z-20 w-full bg-white border border-gray-200 rounded-lg shadow-2xl mt-2 overflow-hidden animate-in fade-in zoom-in-95 duration-200">
            @for (m of resultados(); track m.id) {
            <div (click)="selecionarMovimentacao(m)"
                class="px-4 py-3 cursor-pointer hover:bg-gray-50 transition-colors border-b border-gray-100 last:border-none flex justify-between items-center">
        
                <div class="flex flex-col">
                    <span class="font-medium text-gray-800">{{ m.nomeProprietario }}</span>
                    <span class="text-xs text-gray-500">{{ m.cpfProprietario }}</span>
                </div>
        
                <span class="text-sm font-mono font-bold text-[#CC2A2A] bg-red-50 px-2 py-1 rounded">
                    {{ m.numeroPlaca }}
                </span>
            </div>
            }
        </div>
        }
    </div>

<div class="w-204">
    <app-liberar-veiculo-card [veiculo]="movimentacaoSelecionada() ? {
            numeroPlaca: movimentacaoSelecionada()!.numeroPlaca,
            tipoVeiculo: 'N/A', 
            cor: 'N/A', 
            bloqueado: false,
            proprietario: {
                nome: movimentacaoSelecionada()!.nomeProprietario,
                cpfProprietario: movimentacaoSelecionada()!.cpfProprietario
            }
        } : null" [idReferencia]="idMovimentacaoSelecionada()" (confirmarAcao)="registrarSaida($event)">

        <div class="flex flex-row gap-1 items-center">
            <img src="/seta-esquerda.svg" class="w-4 h-4">
            <span>Liberar saída</span>
        </div>
    </app-liberar-veiculo-card>
</div>
</div>