<div class="w-full flex flex-col bg-white dark:bg-zinc-800 transition-colors duration-300" [class.h-full]="modoCompacto">

    <div [class.overflow-y-auto]="modoCompacto" [class.max-h-[calc(100vh-200px)]]="modoCompacto" class="w-full min-h-[340px]" [class.grow]="modoCompacto" [class.h-0]="modoCompacto">

        <table class="w-full text-left border-collapse">
            <thead class="bg-[#CC2A2A] text-white sticky top-0 z-10">
                <tr>
                    @for (col of colunas; track col) {
                    <th class="px-6 py-4 font-semibold text-center">{{ col }}</th>
                    }
                </tr>
            </thead>
            <tbody>
                <ng-content></ng-content>
            </tbody>
        </table>
    </div>

    @if (!modoCompacto) {
    <div class="flex justify-between items-center p-6 border-t border-gray-100 dark:border-zinc-700 shrink-0 bg-white dark:bg-zinc-800 transition-colors duration-300">
        <div class="flex items-center gap-2 text-sm text-gray-600 dark:text-gray-400">
            <span>Mostrar:</span>
            <select class="border border-gray-300 dark:border-zinc-700 bg-white dark:bg-zinc-800 text-gray-700 dark:text-gray-200 rounded-lg px-3 py-1 cursor-pointer outline-none focus:ring-2 focus:ring-red-500/50"
                (change)="aoMudarTamanho($event)">
                <option [value]="5">5</option>
                <option [value]="10">10</option>
                <option [value]="20">20</option>
            </select>
        </div>

        <div class="flex gap-4 items-center">
            <button (click)="paginaAnterior()" [disabled]="paginaAtual === 0"
                class="px-5 py-2 bg-gray-100 dark:bg-zinc-700 text-gray-700 dark:text-gray-200 rounded-lg hover:bg-gray-200 dark:hover:bg-zinc-600 disabled:opacity-40 transition-all cursor-pointer">
                Anterior
            </button>
            <span class="text-sm font-semibold text-gray-500">{{ paginaAtual + 1 }} / {{ totalPaginas }}</span>
            <button (click)="proximaPagina()" [disabled]="paginaAtual + 1 >= totalPaginas"
                class="px-5 py-2 bg-[#CC2A2A] text-white rounded-lg hover:bg-[#a62323] disabled:opacity-40 transition-all">
                Próxima
            </button>
        </div>
    </div>
    }
</div>