<div class="flex flex-row h-screen overflow-hidden bg-gray-50">

    <div class="flex-1 flex flex-col gap-6 p-6 transition-all duration-300 ease-in-out h-full min-w-0">
        <div class="flex justify-between items-center shrink-0">
            <h2 class="text-2xl font-bold text-gray-700">Veículos estacionados</h2>
            <app-search-bar (aoPesquisar)="filtrar($event)"></app-search-bar>
        </div>

        <div class="bg-white rounded-lg shadow-sm border border-gray-200 overflow-hidden grow min-h-0">
            <app-tabela [modoCompacto]="!!movimentacaoSelecionada" [paginaAtual]="currentPage"
                [totalPaginas]="totalPages" (mudarPagina)="alterarPagina($event)"
                (mudarTamanho)="alterarTamanhoPagina($event)">
                

            @for (mov of movimentacoesExibicao; track mov.id) {
            <tr (click)="selecionarMovimentacao(mov)"
                class="hover:bg-blue-50 transition-colors cursor-pointer border-b border-gray-100">
                <td class="px-6 py-4 text-center">{{ mov.nomeProprietario }}</td>
                <td class="px-6 py-4 text-center">{{ obterTipoVeiculo(mov.numeroPlaca) }}</td>
                <td class="px-6 py-4 text-center">{{ mov.cpfProprietario }}</td>
                <td class="px-6 py-4 text-center font-mono">{{ mov.numeroPlaca }}</td>
                <td class="px-6 py-4 text-center font-mono">
                    @if (mov.dataSaida) {
                        Ultima Saída - {{ mov.dataSaida | date: 'HH:mm' }}
                    } @else {
                        No Pátio
                    }
                </td>
            </tr>
            }
            </app-tabela>
        </div>
    </div>

    @if (movimentacaoSelecionada) {
    <article
        class="w-95 bg-[#E23C33] text-white h-screen flex flex-col shadow-2xl border-l border-white/20 animate-slide-in overflow-hidden shrink-0 transform rounded-l-2xl">
        <div class="w-full p-8 flex flex-col h-full transition-all duration-500 ease-in-out">
            <div class="relative flex justify-center items-center mb-10 shrink-0">
                <h3 class="font-bold uppercase text-xs tracking-[0.2em] text-center">Detalhes do Veículo</h3>
                <button (click)="movimentacaoSelecionada = null"
                    class="absolute right-0 hover:rotate-90 hover:scale-110 transition-transform duration-300 text-white/80 p-1 cursor-pointer">
                    <span class="text-xl">✕</span>
                </button>
            </div>

            <form class="space-y-6 flex-1 overflow-y-auto pr-1 no-scrollbar">
                <div class="flex flex-col gap-2 opacity-90">
                    <label class="text-[10px] font-black uppercase tracking-wider opacity-70">Proprietário</label>
                    <div
                        class="w-full bg-white text-gray-800 p-3 rounded-md shadow-inner min-h-12 flex items-center font-semibold">
                        {{ movimentacaoSelecionada.nomeProprietario }}
                    </div>
                </div>

                <div class="flex flex-col gap-2 opacity-90">
                    <label class="text-[10px] font-black uppercase tracking-wider opacity-70">CPF</label>
                    <div class="w-full bg-white text-gray-800 p-3 rounded-md shadow-inner min-h-12 flex items-center">
                        {{ movimentacaoSelecionada.cpfProprietario }}
                    </div>
                </div>

                <div class="flex flex-col gap-2 opacity-90">
                    <label class="text-[10px] font-black uppercase tracking-wider opacity-70">Placa</label>
                    <div
                        class="w-full bg-white text-gray-800 p-3 rounded-md shadow-inner min-h-12 flex items-center font-mono font-bold">
                        {{ movimentacaoSelecionada.numeroPlaca }}
                    </div>
                </div>

                <div class="mt-4 pt-4 border-t border-white/20">
                    <div class="flex justify-between text-[9px] font-black mb-3 opacity-80 uppercase tracking-widest">
                        <span>Entrada - {{ movimentacaoSelecionada.dataEntrada | date: 'HH:mm' }}</span>
                        @if (movimentacaoSelecionada.dataSaida) {
                        <span>Saída - {{ movimentacaoSelecionada.dataSaida | date: 'HH:mm' }}</span>
                        } @else {
                        <span>Status - No Pátio</span>
                        }
                    </div>
                    <div class="relative h-1 bg-white/30 w-full rounded-full overflow-hidden">
                        <div class="absolute top-0 left-0 h-full bg-white transition-all"
                            [style.width.%]="movimentacaoSelecionada.dataSaida ? 100 : 50">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </article>
    }
</div>